<!DOCTYPE html>
<html lang="it">

<head>
	<title>Risultati ricerca</title>
	<link rel="stylesheet" href="/stile.css?version=2" />
</head>

<header>
	<div><a href="/"><img src="/logo.png" width="10%" /></a></div>
	<div th:if="${userDetails}">
		<span th:text="${userDetails.username}">Username</span>
		<a href="/logout">Logout</a>
	</div>
	<div th:unless="${userDetails}">
		<a href="/login">Login</a>
	</div>
	<a href="login"></a>
</header>

<body>
	<h1>La ricerca ha prodotto i seguenti risultati:</h1>
	<p>
	    <strong>
	        Questi sono i libri trovati
	        <span th:if="${title != null}" th:text="' che nel titolo contengono: ' + ${title}"></span>
	        <span th:if="${year != null}" th:text="' per l anno: ' + ${year}"></span>
	    </strong>
	</p>

	</div>
	<div th:if="${bookNumber!=null}" th:text="'Sono stati trovati '+ ${bookNumber} + ' libri'">Numero Libri</div>
	<div th:if="${books.isEmpty()}">Non ci sono libri nel sistema</div>
	<ul>
		<li th:each="book : ${books}">
			<span>
				<a th:href="@{'/book' + '/' + ${book.id}}" th:text="${book.title} + ' (' + ${book.year} + ')'">Up!
					(2000)</a>
			</span>
			<span th:if="${isAdmin}">
				<!-- Bottone Modifica -->
				<a th:href="@{'admin/modificaBook/' + ${book.id}}">
					<button>Modifica</button>
				</a>

				<!-- Bottone Elimina -->
				<form th:action="@{'admin/eliminaBook/' + ${book.id}}" method="post" style="display:inline;">
					<button type="submit"
						onclick="return confirm('Sei sicuro di voler eliminare questo libro? ATTENZIONE: Questa azione è irreversibile');">
						Elimina
					</button>
				</form>
			</span>
		</li>
	</ul>
</body>

</html>